


.djn-clear-left {
	clear: left !important;
}

.djn-clear-right {
	clear: right !important;
}

.djn-clear-all, .djn-clear-both {
	clear: both !important;
}

.djn-border-top {
	border-top: 2px solid #777777;
}

.djn-border-bottom {
	border-bottom: 2px solid #777777;
}

.djn-padd-top-30 {
	padding-top: 30px !important;
}

.djn-padd-top-60 {
	padding-top: 60px !important;
}

.djn-section-heading {
	/*border-top: 5px solid #dedede !important;*/
	background: #f9f9f9;
}



.djn-section-heading label {
	font-size: 24px !important;
    color: #777;
}

.djn-no-border {
	border: none !important;
}



/* LICENSING PAGE STYLES */


.gf-option-box {
	border: 1px solid #dedede;
	margin-top: 30px;
}

.gf-option-box h3 {
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	background: #f1f1f1;
	margin: 0;
}

.gf-option-box-inner {
	padding: 10px;
	background: #fff;
}

h2.gf-option-box-section-heading {
	margin-top: 30px;
}


.ultimateazon2-license-deactivated {
	color: #F29D00;
}

.ultimateazon2-license-invalid {
	color: #E80000;
}

.ultimateazon2-license-valid {
	color: #69C500;
}


.license-loading-gif {
	vertical-align: middle;
	display: none;
}

/* ACF color picker tweak */
/*.acf-color_picker {
	position:relative;
}
.wp-picker-input-wrap {
	position: absolute;
	left: 0;
	bottom: -25px;
	z-index: 20;
}

.wp-picker-holder {
	position: absolute;
    bottom: -260px;
    z-index:10;
}

.wp-picker-container .iris-picker {
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}*/

.wp-picker-active{
	position: absolute;
	z-index: 2000;
	background: #fff;
	padding: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}








