@charset "UTF-8";
@font-face {
  font-family: 'ultimateazon2-fontello';
  src: url("../font/fontello.eot?40394058");
  src: url("../font/fontello.eot?40394058#iefix") format("embedded-opentype"), url("../font/fontello.woff?40394058") format("woff"), url("../font/fontello.ttf?40394058") format("truetype"), url("../font/fontello.svg?40394058#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?40394058#fontello') format('svg');
  }
}
*/
[class^="djn-icon-"]:before, [class*=" djn-icon-"]:before {
  font-family: "ultimateazon2-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.djn-icon-facebook:before {
  content: '\e800'; }

/* '' */
.djn-icon-twitter-bird:before {
  content: '\e801'; }

/* '' */
.djn-icon-vimeo:before {
  content: '\e802'; }

/* '' */
.djn-icon-linkedin:before {
  content: '\e803'; }

/* '' */
.djn-icon-instagram-filled:before {
  content: '\e804'; }

/* '' */
.djn-icon-blogger:before {
  content: '\e805'; }

/* '' */
.djn-icon-github:before {
  content: '\e806'; }

/* '' */
.djn-icon-skype:before {
  content: '\e807'; }

/* '' */
.djn-icon-yandex:before {
  content: '\e808'; }

/* '' */
.djn-icon-wordpress:before {
  content: '\e809'; }

/* '' */
.djn-icon-picasa:before {
  content: '\e80a'; }

/* '' */
.djn-icon-lastfm:before {
  content: '\e80b'; }

/* '' */
.djn-icon-jabber:before {
  content: '\e80c'; }

/* '' */
.djn-icon-deviantart:before {
  content: '\e80d'; }

/* '' */
.djn-icon-friendfeed:before {
  content: '\e80e'; }

/* '' */
.djn-icon-box:before {
  content: '\e80f'; }

/* '' */
.djn-icon-codepen:before {
  content: '\e810'; }

/* '' */
.djn-icon-bandcamp:before {
  content: '\e811'; }

/* '' */
.djn-icon-amex:before {
  content: '\e812'; }

/* '' */
.djn-icon-discover:before {
  content: '\e813'; }

/* '' */
.djn-icon-visa:before {
  content: '\e814'; }

/* '' */
.djn-icon-mastercard:before {
  content: '\e815'; }

/* '' */
.djn-icon-emo-happy:before {
  content: '\e816'; }

/* '' */
.djn-icon-emo-wink:before {
  content: '\e817'; }

/* '' */
.djn-icon-emo-wink2:before {
  content: '\e818'; }

/* '' */
.djn-icon-emo-unhappy:before {
  content: '\e819'; }

/* '' */
.djn-icon-emo-sleep:before {
  content: '\e81a'; }

/* '' */
.djn-icon-emo-thumbsup:before {
  content: '\e81b'; }

/* '' */
.djn-icon-emo-devil:before {
  content: '\e81c'; }

/* '' */
.djn-icon-emo-surprised:before {
  content: '\e81d'; }

/* '' */
.djn-icon-emo-tongue:before {
  content: '\e81e'; }

/* '' */
.djn-icon-emo-coffee:before {
  content: '\e81f'; }

/* '' */
.djn-icon-emo-sunglasses:before {
  content: '\e820'; }

/* '' */
.djn-icon-emo-displeased:before {
  content: '\e821'; }

/* '' */
.djn-icon-emo-beer:before {
  content: '\e822'; }

/* '' */
.djn-icon-emo-grin:before {
  content: '\e823'; }

/* '' */
.djn-icon-emo-angry:before {
  content: '\e824'; }

/* '' */
.djn-icon-emo-saint:before {
  content: '\e825'; }

/* '' */
.djn-icon-emo-cry:before {
  content: '\e826'; }

/* '' */
.djn-icon-emo-shoot:before {
  content: '\e827'; }

/* '' */
.djn-icon-emo-squint:before {
  content: '\e828'; }

/* '' */
.djn-icon-emo-laugh:before {
  content: '\e829'; }

/* '' */
.djn-icon-spin4:before {
  content: '\e82a'; }

/* '' */
.djn-icon-spin5:before {
  content: '\e82b'; }

/* '' */
.djn-icon-spin6:before {
  content: '\e82c'; }

/* '' */
.djn-icon-firefox:before {
  content: '\e82d'; }

/* '' */
.djn-icon-chrome:before {
  content: '\e82e'; }

/* '' */
.djn-icon-opera:before {
  content: '\e82f'; }

/* '' */
.djn-icon-ie:before {
  content: '\e830'; }

/* '' */
.djn-icon-search:before {
  content: '\e831'; }

/* '' */
.djn-icon-mail:before {
  content: '\e832'; }

/* '' */
.djn-icon-heart:before {
  content: '\e833'; }

/* '' */
.djn-icon-heart-empty:before {
  content: '\e834'; }

/* '' */
.djn-icon-appstore:before {
  content: '\e835'; }

/* '' */
.djn-icon-star:before {
  content: '\e836'; }

/* '' */
.djn-icon-star-empty:before {
  content: '\e837'; }

/* '' */
.djn-icon-star-half:before {
  content: '\e838'; }

/* '' */
.djn-icon-star-half-alt:before {
  content: '\e839'; }

/* '' */
.djn-icon-user:before {
  content: '\e83a'; }

/* '' */
.djn-icon-user-plus:before {
  content: '\e83b'; }

/* '' */
.djn-icon-user-times:before {
  content: '\e83c'; }

/* '' */
.djn-icon-attach:before {
  content: '\e83d'; }

/* '' */
.djn-icon-camera:before {
  content: '\e83e'; }

/* '' */
.djn-icon-picture:before {
  content: '\e83f'; }

/* '' */
.djn-icon-videocam:before {
  content: '\e840'; }

/* '' */
.djn-icon-video:before {
  content: '\e841'; }

/* '' */
.djn-icon-male:before {
  content: '\e842'; }

/* '' */
.djn-icon-female:before {
  content: '\e843'; }

/* '' */
.djn-icon-th-large:before {
  content: '\e844'; }

/* '' */
.djn-icon-th:before {
  content: '\e845'; }

/* '' */
.djn-icon-th-list:before {
  content: '\e846'; }

/* '' */
.djn-icon-ok:before {
  content: '\e847'; }

/* '' */
.djn-icon-help:before {
  content: '\e848'; }

/* '' */
.djn-icon-minus-circled:before {
  content: '\e849'; }

/* '' */
.djn-icon-plus-squared:before {
  content: '\e84a'; }

/* '' */
.djn-icon-cancel:before {
  content: '\e84b'; }

/* '' */
.djn-icon-link:before {
  content: '\e84c'; }

/* '' */
.djn-icon-unlink:before {
  content: '\e84d'; }

/* '' */
.djn-icon-lock:before {
  content: '\e84e'; }

/* '' */
.djn-icon-lock-open:before {
  content: '\e84f'; }

/* '' */
.djn-icon-eye:before {
  content: '\e850'; }

/* '' */
.djn-icon-tag:before {
  content: '\e851'; }

/* '' */
.djn-icon-tags:before {
  content: '\e852'; }

/* '' */
.djn-icon-bookmark:before {
  content: '\e853'; }

/* '' */
.djn-icon-bookmark-empty:before {
  content: '\e854'; }

/* '' */
.djn-icon-quote-right:before {
  content: '\e855'; }

/* '' */
.djn-icon-quote-left:before {
  content: '\e856'; }

/* '' */
.djn-icon-upload-cloud:before {
  content: '\e857'; }

/* '' */
.djn-icon-download-cloud:before {
  content: '\e858'; }

/* '' */
.djn-icon-thumbs-down-alt:before {
  content: '\e859'; }

/* '' */
.djn-icon-thumbs-up-alt:before {
  content: '\e85a'; }

/* '' */
.djn-icon-thumbs-down:before {
  content: '\e85b'; }

/* '' */
.djn-icon-thumbs-up:before {
  content: '\e85c'; }

/* '' */
.djn-icon-share:before {
  content: '\e85d'; }

/* '' */
.djn-icon-pencil:before {
  content: '\e85e'; }

/* '' */
.djn-icon-print:before {
  content: '\e85f'; }

/* '' */
.djn-icon-gamepad:before {
  content: '\e860'; }

/* '' */
.djn-icon-comment:before {
  content: '\e861'; }

/* '' */
.djn-icon-chat:before {
  content: '\e862'; }

/* '' */
.djn-icon-comment-empty:before {
  content: '\e863'; }

/* '' */
.djn-icon-chat-empty:before {
  content: '\e864'; }

/* '' */
.djn-icon-bell-alt:before {
  content: '\e865'; }

/* '' */
.djn-icon-bell-off:before {
  content: '\e866'; }

/* '' */
.djn-icon-folder-open:before {
  content: '\e867'; }

/* '' */
.djn-icon-folder:before {
  content: '\e868'; }

/* '' */
.djn-icon-phone:before {
  content: '\e869'; }

/* '' */
.djn-icon-cog:before {
  content: '\e86a'; }

/* '' */
.djn-icon-cog-alt:before {
  content: '\e86b'; }

/* '' */
.djn-icon-wrench:before {
  content: '\e86c'; }

/* '' */
.djn-icon-sliders:before {
  content: '\e86d'; }

/* '' */
.djn-icon-basket:before {
  content: '\e86e'; }

/* '' */
.djn-icon-zoom-out:before {
  content: '\e86f'; }

/* '' */
.djn-icon-zoom-in:before {
  content: '\e870'; }

/* '' */
.djn-icon-lightbulb:before {
  content: '\e871'; }

/* '' */
.djn-icon-play:before {
  content: '\e872'; }

/* '' */
.djn-icon-stop:before {
  content: '\e873'; }

/* '' */
.djn-icon-pause:before {
  content: '\e874'; }

/* '' */
.djn-icon-to-end:before {
  content: '\e875'; }

/* '' */
.djn-icon-to-end-alt:before {
  content: '\e876'; }

/* '' */
.djn-icon-to-start:before {
  content: '\e877'; }

/* '' */
.djn-icon-to-start-alt:before {
  content: '\e878'; }

/* '' */
.djn-icon-fast-fw:before {
  content: '\e879'; }

/* '' */
.djn-icon-fast-bw:before {
  content: '\e87a'; }

/* '' */
.djn-icon-eject:before {
  content: '\e87b'; }

/* '' */
.djn-icon-paper-plane:before {
  content: '\e87c'; }

/* '' */
.djn-icon-wifi:before {
  content: '\e87d'; }

/* '' */
.djn-icon-signal:before {
  content: '\e87e'; }

/* '' */
.djn-icon-flash:before {
  content: '\e87f'; }

/* '' */
.djn-icon-cloud:before {
  content: '\e880'; }

/* '' */
.djn-icon-sun:before {
  content: '\e881'; }

/* '' */
.djn-icon-moon:before {
  content: '\e882'; }

/* '' */
.djn-icon-umbrella:before {
  content: '\e883'; }

/* '' */
.djn-icon-flight:before {
  content: '\e884'; }

/* '' */
.djn-icon-suitcase:before {
  content: '\e885'; }

/* '' */
.djn-icon-asterisk:before {
  content: '\e886'; }

/* '' */
.djn-icon-rocket:before {
  content: '\e887'; }

/* '' */
.djn-icon-fork:before {
  content: '\e888'; }

/* '' */
.djn-icon-note:before {
  content: '\e889'; }

/* '' */
.djn-icon-note-beamed:before {
  content: '\e88a'; }

/* '' */
