/*********************
HEADER STYLES
*********************/
.header {

	&.header {
		box-shadow: none;
	}

	&-inner {

		&-left {
			@include grid-column(8);
		}

		&-right {

			@include grid-column(4);

			&-widget {
				display: block;
			}
		}
	}

	nav.top-bar.nav-primary {
		padding: 0 15px;
	}
}




.content-sidebar {

	.content-inner-row {
		&-main {
			@include grid-column(8);
		}
	}

	&.main-col-lg-3 {
		.content-inner-row {
			&-main {
				@include grid-column(3);
			}
		}
	}

	&.main-col-lg-4 {
		.content-inner-row {
			&-main {
				@include grid-column(4);
			}
		}
	}

	&.main-col-lg-5 {
			.content-inner-row {
			&-main {
				@include grid-column(5);
			}
		}
	}

	&.main-col-lg-6 {
			
	.content-inner-row {
			&-main {
				@include grid-column(6);
			}
		}

	}

	&.main-col-lg-7 {
			.content-inner-row {
			&-main {
				@include grid-column(7);
			}
		}
	}


	&.main-col-lg-8 {
			.content-inner-row {
			&-main {
				@include grid-column(8);
			}
		}
	}

	&.main-col-lg-9 {
		.content-inner-row {
			&-main {
				@include grid-column(9);
			}
		}
	}

	// sidebar styles
	.content-inner-row {
		.sidebar {
			@include grid-column(4);
		}
	}

	&.thin-col-lg-3 {
		.content-inner-row {
			.sidebar {
				@include grid-column(3);
			}
		}
	}

	&.thin-col-lg-4 {
		.content-inner-row {
			.sidebar {
				@include grid-column(4);
			}
		}
	}

	&.thin-col-lg-5 {
		.content-inner-row {
			.sidebar {
				@include grid-column(5);
			}
		}
	}

	&.thin-col-lg-6 {
		.content-inner-row {
			.sidebar {
				@include grid-column(6);
			}
		}
	}

	&.thin-col-lg-7 {
		.content-inner-row {
			.sidebar {
				@include grid-column(7);
			}
		}
	}

	&.thin-col-lg-8 {
		.content-inner-row {
			.sidebar {
				@include grid-column(8);
			}
		}
	}

	&.thin-col-lg-9 {
		.content-inner-row {
			.sidebar {
				@include grid-column(9);
			}
		}
	}


	.content-inner-row {

		&-main {
			//@include grid-column(8);
			margin-bottom: 0;
		}

		.sidebar {
			//@include grid-column(4);
			margin-bottom: 0;
		}

	}

}





.sidebar-content {

	&.main-col-lg-3 {
		.content-inner-row {
			&-main {
				@include grid-column(3);
				@include grid-column-position(9);
			}
		}
	}

	&.main-col-lg-4 {
		.content-inner-row {
			&-main {
				@include grid-column(4);
				@include grid-column-position(8);
			}
		}
	}

	&.main-col-lg-5 {
			.content-inner-row {
			&-main {
				@include grid-column(5);
				@include grid-column-position(7);
			}
		}
	}

	&.main-col-lg-6 {
			
		.content-inner-row {
			&-main {
				@include grid-column(6);
				@include grid-column-position(6);
			}
		}
	}

	&.main-col-lg-7 {
			.content-inner-row {
			&-main {
				@include grid-column(7);
				@include grid-column-position(5);
			}
		}
	}


	&.main-col-lg-8 {
			.content-inner-row {
			&-main {
				@include grid-column(8);
				@include grid-column-position(4);
			}
		}
	}

	&.main-col-lg-9 {
		.content-inner-row {
			&-main {
				@include grid-column(9);
				@include grid-column-position(3);
			}
		}
	}

	&.thin-col-lg-3 {
		.content-inner-row {
			.sidebar {
				@include grid-column(3);
				@include grid-column-position(-9);
			}
		}
	}

	&.thin-col-lg-4 {
		.content-inner-row {
			.sidebar {
				@include grid-column(4);
				@include grid-column-position(-8);
			}
		}
	}

	&.thin-col-lg-5 {
		.content-inner-row {
			.sidebar {
				@include grid-column(5);
				@include grid-column-position(-7);
			}
		}
	}

	&.thin-col-lg-6 {
		.content-inner-row {
			.sidebar {
				@include grid-column(6);
				@include grid-column-position(-6);
			}
		}
	}

	&.thin-col-lg-7 {
		.content-inner-row {
			.sidebar {
				@include grid-column(7);
				@include grid-column-position(-5);
			}
		}
	}

	&.thin-col-lg-8 {
		.content-inner-row {
			.sidebar {
				@include grid-column(8);
				@include grid-column-position(-4);
			}
		}
	}

	&.thin-col-lg-9 {
		.content-inner-row {
			.sidebar {
				@include grid-column(9);
				@include grid-column-position(-3);
			}
		}
	}



	&-main {
		margin-bottom: 0;
	}

	.sidebar {
		margin-bottom: 0;
	}


}













.top-bar-right {
    width: auto;
}

// .nav-primary.sticky-mobile.scroll-desktop.stuck {
// 	position: relative;
// 	top: inherit;
// 	left: inherit;
// }

// .sticky-wrapper-small {
// 	height: auto !important;
// }

// header.header.sticky-mobile.stuck {
// 	position: relative;
// 	top: inherit;
// 	left: inherit;
// }

// .nav-primary.sticky-desktop.stuck {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	z-index: 1000;
// }


.home-content-wrapper:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    right: 75%;
    position: absolute;
    background: #FAB013;
}
.home-content-wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 25%;
    position: absolute;
    background: #FFFFFF;
}





