/*********************
HEADER STYLES
*********************/
.header {

	&-inner {
		@include grid-row();

		&-left {
			@include grid-column(10);
		}

		&-right {
			@include grid-column(2);
		}
	}
}


body.logged-in {
	.off-canvas.position-right {
		top: 32px;
	}
}



.footer-widgets {

	padding-left: 0;
	padding-right: 0;

	&-inner {

		&.footer-widget-cols-0 {
			display: none;
		}

		&.footer-widget-cols-1 {

			.footer-widgets-col {
				@include grid-column(12);
			}

			
		}

		&.footer-widget-cols-2 {

			.footer-widgets-col {
				@include grid-column(6);
			}
			
		}

		&.footer-widget-cols-3 {

			.footer-widgets-col {
				@include grid-column(4);
			}
			
		}

		&.footer-widget-cols-4 {

			.footer-widgets-col {
				@include grid-column(3);
			}
			
		}

	}
}













.content-sidebar {

	.content-inner-row {
		&-main {
			@include grid-column(7);
			margin-bottom: 0;
		}

		.sidebar {
			@include grid-column(5);
			margin-bottom: 60px;
		}
	}


	&.main-col-md-3 {
		.content-inner-row {
			&-main {
				@include grid-column(3);
			}
		}
	}

	&.main-col-md-4 {
		.content-inner-row {
			&-main {
				@include grid-column(4);
			}
		}
	}

	&.main-col-md-5 {
			.content-inner-row {
			&-main {
				@include grid-column(5);
			}
		}
	}

	&.main-col-md-6 {		
		.content-inner-row {
			&-main {
				@include grid-column(6);
			}
		}
	}

	&.main-col-md-7 {
			.content-inner-row {
			&-main {
				@include grid-column(7);
			}
		}
	}


	&.main-col-md-8 {
			.content-inner-row {
			&-main {
				@include grid-column(8);
			}
		}
	}

	&.main-col-md-9 {
		.content-inner-row {
			&-main {
				@include grid-column(9);
			}
		}
	}

	// sidebar styles
	.content-inner-row {
		.sidebar {
			@include grid-column(5);
		}
	}

	&.thin-col-md-3 {
		.content-inner-row {
			.sidebar {
				@include grid-column(3);
			}
		}
	}

	&.thin-col-md-4 {
		.content-inner-row {
			.sidebar {
				@include grid-column(4);
			}
		}
	}

	&.thin-col-md-5 {
		.content-inner-row {
			.sidebar {
				@include grid-column(5);
			}
		}
	}

	&.thin-col-md-6 {
		.content-inner-row {
			.sidebar {
				@include grid-column(6);
			}
		}
	}

	&.thin-col-md-7 {
		.content-inner-row {
			.sidebar {
				@include grid-column(7);
			}
		}
	}

	&.thin-col-md-8 {
		.content-inner-row {
			.sidebar {
				@include grid-column(8);
			}
		}
	}

	&.thin-col-md-9 {
		.content-inner-row {
			.sidebar {
				@include grid-column(9);
			}
		}
	}



}


.sidebar-content {

	&.main-col-md-3 {
		.content-inner-row {
			&-main {
				@include grid-column(3);
				@include grid-column-position(9);
			}
		}
	}

	&.main-col-md-4 {
		.content-inner-row {
			&-main {
				@include grid-column(4);
				@include grid-column-position(8);
			}
		}
	}

	&.main-col-md-5 {
			.content-inner-row {
			&-main {
				@include grid-column(5);
				@include grid-column-position(7);
			}
		}
	}

	&.main-col-md-6 {
			
	}.content-inner-row {
			&-main {
				@include grid-column(6);
				@include grid-column-position(6);
			}
		}

	&.main-col-md-7 {
			.content-inner-row {
			&-main {
				@include grid-column(7);
				@include grid-column-position(5);
			}
		}
	}


	&.main-col-md-8 {
			.content-inner-row {
			&-main {
				@include grid-column(8);
				@include grid-column-position(4);
			}
		}
	}

	&.main-col-md-9 {
		.content-inner-row {
			&-main {
				@include grid-column(9);
				@include grid-column-position(3);
			}
		}
	}

	&.thin-col-md-3 {
		.content-inner-row {
			.sidebar {
				@include grid-column(3);
				@include grid-column-position(-9);
			}
		}
	}

	&.thin-col-md-4 {
		.content-inner-row {
			.sidebar {
				@include grid-column(4);
				@include grid-column-position(-8);
			}
		}
	}

	&.thin-col-md-5 {
		.content-inner-row {
			.sidebar {
				@include grid-column(5);
				@include grid-column-position(-7);
			}
		}
	}

	&.thin-col-md-6 {
		.content-inner-row {
			.sidebar {
				@include grid-column(6);
				@include grid-column-position(-6);
			}
		}
	}

	&.thin-col-md-7 {
		.content-inner-row {
			.sidebar {
				@include grid-column(7);
				@include grid-column-position(-5);
			}
		}
	}

	&.thin-col-md-8 {
		.content-inner-row {
			.sidebar {
				@include grid-column(8);
				@include grid-column-position(-4);
			}
		}
	}

	&.thin-col-md-9 {
		.content-inner-row {
			.sidebar {
				@include grid-column(9);
				@include grid-column-position(-3);
			}
		}
	}






	&-main {
		@include grid-column(8);
		@include grid-column-position(4);
		margin-bottom: 0;
	}

	.sidebar {
		@include grid-column(4);
		@include grid-column-position(-8);
		margin-bottom: 0;
	}


}




body.blog,
body.archive {

	.content-inner-row {
		padding-left: $gutter/2;
		padding-right: $gutter/2;
	}

	h1.archive-title {
		margin-left: 0;
		margin-right: 0;
	}

	.archive-grid {

		.panel {
			padding-left: $gutter/2;
			padding-right: $gutter/2;
		}
	}

	.archive-grid .panel, body.archive .archive-grid .panel {
	    float: left;

	    .article-header {
	    	h2 {
		    	padding: 015px 15px 0;
			}
	    }

	    .entry-content {
	    	padding: 10px 15px 15px;
	    }

	    .article-footer {
	    	padding-left: 15px;
			padding-right: 15px;
	    }

	}


}


/* archive grid */

.row.archive-grid {
	margin-left: -15px;
    margin-right: -15px;
    max-width: 1230px;

    .panel {
    	h2 {
    		font-size: 1rem;
    	}

    	&.large-col5 {
    		@include grid-column(2.4); // (12/5 = 2.4)
    	}

    	// &:last-child {
    	// 	float: left !important;
    	// }
    }
}


.content-grid-sidebar {

	.content-inner-row {

		&-main {
			@include grid-column(8);
			margin-bottom: 0;
		}

		.sidebar {
			@include grid-column(4);
			margin-bottom: 0;
		}

	}

	&.grid-2 {

		.panel {
			@include grid-column(6);
		}
		
	}

	&.grid-3 {
		.panel {
			@include grid-column(4);
		}
	}

	&.grid-4 {
		.panel {
			@include grid-column(3);
		}
	}

	&.grid-5 {
		.panel {
			width: 20%;
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			float: left;
		}
		
	}
}

.sidebar-content-grid {

	.content-inner-row {

		&-main {
			@include grid-column(8);
			@include grid-column-position(4);
			margin-bottom: 0;
		}

		.sidebar {
			@include grid-column(4);
			@include grid-column-position(-8);
			margin-bottom: 0;
		}

	}

	&.grid-2 {

		.panel {
			@include grid-column(6);
		}
		
	}

	&.grid-3 {
		.panel {
			@include grid-column(4);
		}
	}

	&.grid-4 {
		.panel {
			@include grid-column(3);
		}
	}

	&.grid-5 {
		.panel {
			width: 20%;
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			float: left;
		}
		
	}

}

.content-grid {

	.content-inner-row {

		&-main {
			margin-bottom: 0;
			// padding-left: 0;
			// padding-right: 0;
		}


	}

	&.grid-2 {

		.panel {
			@include grid-column(6);
		}
		
	}

	&.grid-3 {
		.panel {
			@include grid-column(4);
		}
	}

	&.grid-4 {
		.panel {
			@include grid-column(3);
		}
	}

	&.grid-5 {
		.panel {
			width: 20%;
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			float: left;
		}
		
	}

}














/* header */

.site-title {
	font-size: rem-calc(36);
	line-height: rem-calc(36);
}




/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;

		li {
			padding: 0;

			&:not(.depth-1) {
				margin-left: 15px;
			}
		}

		.media-object {

			padding-top: 5px;
    		padding-right: 5px;

			.media-object-section {
				&:first-child {
					display: table-cell;
					padding-right: 0;
					position: relative;

					img {
						border: 5px solid #dedede;
						margin-top: 18px;
					}

					&:after {
						position: absolute;
						content: '';
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						border-left: 10px solid #dedede;
						top: 35px;
						right: -10px;
					}
				}

				&:nth-child(2) {
					width: auto;
					display: table-cell;

					&:hover {
						box-shadow: 0 0 10px rgba(0,0,0,0.08);
					}
				}

				article {
					float: left;
				}
			}

		}
	}
}


