body.uat-pb {



	#content {
		padding-top: 0;
	}

	footer.footer {
		margin-top: 0;
	}



	.pb {

		&:first-child {
			padding-top: 60px;
		}


		&-basic_editor {
			padding: 60px 0;

			.columns {
				:last-child {
					margin-bottom: 0;
				}
			}

		}

		&-alternating_text_image {

			padding: 30px 0;

			.row {
				padding: 30px 0;

				.uat-col-image {
					padding-bottom: 30px;

					@media #{$medium-up}{
						padding-bottom: 0;
					}
				}

				.uat-col-text {
					:last-child {
						margin-bottom: 0;
					}

				}

				@media #{$medium-up}{

					&.uat-alternate-rows {

						&:nth-child(even) {

							.uat-col-image {
								@include grid-column-position(6);
							}

							.uat-col-text {
								@include grid-column-position(-6);
							}

						}
					}

				}
			}
		}


		&-two_columns {
			padding: 30px 0;
			.columns {
				:last-child {
					margin-bottom: 0;
				}
			}

		}

		&-three_columns {
			padding: 30px 0;
			.columns {
				margin-bottom: 15px;
				@include breakpoint(medium up) {
					margin-bottom: 0;
				}
				:last-child {
					margin-bottom: 0;
				}
			}

		}

		&-four_columns {
			padding: 30px 0;
			.columns {
				:last-child {
					margin-bottom: 0;
				}
			}

		}

		&-slider {
			padding: 30px 0;

		}

		&-comparison_table {
			padding: 30px 0;
		}




	}




}