/************************************************

Stylesheet: Main Stylesheet

*************************************************/

.hook-diagram {
	border: 1px solid #dedede;
	padding: 5px;
	font-size: 12px;
	color: #999;
	margin: 5px;
}

/*********************
GENERAL STYLES
*********************/

body {
	overflow-x: hidden;
	background: #ffffff;

	&.scroll-locked {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
}

#content {
	padding-top: 30px;
}

.screen-reader-text {
	display: none;
}

.clear {
	clear: both;
}


/*********************
LINK STYLES
*********************/
a, a:visited { 

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

.button,.pagination .current,.button:hover,.pagination:hover .current:hover  {
	text-decoration: none !important;
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}





























/*********************
HEADER STYLES
*********************/
.header {

	background: $white;
	//border-bottom: 1px solid #dedede;

	&.header {
		z-index: 800;
    	position: relative;
    	box-shadow: 0 0 15px rgba(0,0,0,0.07);
	}

	&-inner {
		@include grid-row();
		padding-top: 15px;
		padding-bottom: 15px;

		&-left {
			@include grid-column(9);
		}

		&-right {
			@include grid-column(3);

			&-widget {
				display: none;
				float: right;
				clear: both;
			}
		}
	}
}



.top-bar {
	//border-bottom: 1px solid $border-gray;

	&-inner {
		@include grid-row();
	}
}

.site-title {

	font-size: rem-calc(20);

	&:hover {
		text-decoration: none;
	}
	
}



.header-banner-inner {
	@include grid-row();
}


.nav-primary {
	clear: both;
	//background: #f3f3f3;
	background: $dark_bg;

	.main-nav-inner {
		@include grid-row();
	}

	

	.menu {

		li {

			a {
				padding: 15px 20px;
				//color: $black;
				color: $light_green;
				border-right: 1px solid rgba(0, 0, 0, 0.05);
				//background: #f3f3f3;
				background: $dark_bg;
				transition: all 200ms;
				border-top: 3px solid transparent;
				background-size: 0%;

				&:hover {
					border-top: 3px solid $primary-color;
					//background: #f1f1f1;
					background: lighten( $dark_bg, 5% );
				}
			}


			&:hover {

				> a {
					background: lighten( $dark_bg, 5% );
				}

				.submenu {
					&:before {
						top: -10px;
					}
				}
				> .submenu {
					opacity: 1;
					transform: translateY(0);
					display: block;
					transition: all 300ms;
					height: auto;
					border-bottom: 3px solid $primary-color;
					> li {
						display: block;
						a {
							border-top: 3px solid transparent;

							&:hover {
								background: lighten( $dark_bg, 5% );
							}
						}
					}
				}
				a {
					border-top: 3px solid $primary-color;
				}
			}


			&.is-dropdown-submenu-parent {
				&.is-down-arrow {
					a {
						padding: 15px 30px 15px 20px;
						&:after {
							//border-color: #444 transparent transparent;
							border-color: $light_green transparent transparent;
							margin-top: 0;
							right: 10px;
						}
					}
				}
			}


			.submenu {
				//background: #fff;
				background: darken( $dark_bg, 5% );
				box-shadow: 0 4px 10px rgba(0,0,0,0.2);
				border: none;
				//max-height: 0;
				opacity: 0;
				transition: all 300ms;
				transform: translateY(10px);
				display: block;
				height: 0;
				left: 30%;
				top: 60%;

				li {
					display: none;
					a {
						//background: #fff;
						background: lighten( $dark_bg, 10% );
						transition: all 200ms;
					}

					&.is-dropdown-submenu-parent {
						&.is-right-arrow {
							> a {
								padding: 15px 30px 15px 20px;
								&:after {
									content: '';
								    display: block;
								    width: 0;
								    height: 0;
								    border: inset 5px;
								    border-color: #6f9a37 transparent transparent;
								    border-top-style: solid;
								    border-bottom-width: 0;
								    position: absolute;
								    margin-top: 0;
								    right: 10px;
									border-color: #444 transparent transparent;
									margin-top: 0;
									right: 10px;
									top: 50%;
    								transform: translateY(-50%);
								}
							}
						}
					}

					&:hover {
						a {
							//background: #f9f9f9;
							background: $dark_bg;
						}

						> .submenu {

							// height: 0;
							// opacity: 1;
							border-bottom: 3px solid $primary-color;

							li {
								a {
									background: #fff;

									&:hover {
										background: #f9f9f9;
									}
								}
								// this holds the hover bg color on the parent li when hovering the newly opened submenu
								&:hover {
									> a {
										background: #f9f9f9;
									}
								}
							}
						}
					}

				}

				&:before {
					content: '';
					position: absolute;
					width: 0; 
					height: 0; 
					top: 0;
				    left: 15%;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					//border-bottom: 10px solid #fff;
					border-bottom: 10px solid  lighten( $dark_bg, 10% );
				}

			}

		}
	}
}

span.no-nav {
    display: block;
    padding: 1.5rem 1rem;
    line-height: 1;
    color: #40b676;
}

header.header {

	right: 0;
	transition: all 0.3s;

	&.pushed {
		right: 250px;
		left: -250px!important;
		transition: all 0.3s;
	}

}


header.header.sticky-mobile.stuck {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 800;
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
}


.dropdown.menu .submenu {
  background: rgba(255,255,255,0.98);
  border: none;
}

body.logged-in {
	.off-canvas.position-right {
		top: 46px;
	}
}

.off-canvas-content {
	background: transparent;
}

.offcanvas-widget-area {
	background: rgba(255,255,255,0.01);
	padding: 0;
	

	div.widget {
		padding: $gutter $gutter/2;
		color: #fff;
		box-shadow: inset 0 20px 36px -24px rgba(0,0,0,0.4);

		p,span,li {
			color: #fff;
		}

		&.widget_nav_menu {

			li.menu-item {
				a {
					display: block;
					padding: $gutter/3 $gutter/2;
				}
			}

		}

		ul.menu>li .sub-menu li a {
			font-size: rem-calc(16);
			&:hover {
				text-decoration: none;
			}
		}
	}

	.widgettitle {
		color: #fff;
		margin-bottom: $gutter/2;
	}
}

.tagline {
	font-size: rem-calc(16);
	line-height: rem-calc(18);
	margin: 5px 0 0 0;
}


/*********************
NAVIGATION STYLES
*********************/


// .off-canvas-list {
// 	ul {
// 		margin-left: 0;
// 		li {
// 			list-style: none;
// 			a {
// 				border-bottom: 0px;
// 			}
// 		}
// 		.dropdown {
// 			margin-left: 20px;
// 		}
// 	}
// }

.is-dropdown-submenu-parent.is-down-arrow > a::after {
	top: 50%;
	transform: translateY(-50%);
}


.nav-top {

	//background: $dark_bg;
	background: #f3f3f3;
	

	.menu {

		text-align: right;

		li {

			display: inline-block;

			a {
				//color: #c7c3b8;
				color: #9c9c9c;
				display: inline-block;
    			padding: 10px 30px 10px 10px;
    			font-size: 13px;
    			transition: all 200ms;

    			&:hover {
    				color: darken( #9c9c9c, 10% );
    			}
			}

			&.is-dropdown-submenu-parent {

				&.is-down-arrow {
					> {
						a {
							&:after {
								right: 10px;
								border-color: #c7c3b8 transparent transparent;
								margin: 0;
							}
						}

					}
				}

				&:hover {
					.submenu {
						opacity: 1;
						transform: translateY(0);
						display: block;
						transition: all 300ms;
						height: auto;

						li {
							display: block;
						}
					}
				}


				.submenu {
					background: #fff;
					box-shadow: 0 0 10px rgba(0,0,0,0.2);
					border: none;
					//max-height: 0;
					opacity: 0;
					transition: all 300ms;
					transform: translateY(10px);
					display: block;
					height: 0;

					li {
						display: none;
						a {
							background: #fff;
							transition: all 200ms;
							color: #444;
							display: block;
							text-align: left;
						}

						&:hover {
							a {
								background: #f9f9f9;
							}
						}
					}

					&:before {
						content: '';
						position: absolute;
						width: 0; 
						height: 0; 
						top: -10px;
					    left: 15%;
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid #fff;
					}

				}

			}
		}
	}

}

// .menu.nested {
// 	margin-left: 0;
// }




.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  float: right;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 950;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
  right: 0;
  height: 6px;
  background: darken( $dark_bg, 10% );
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: darken( $dark_bg, 10% );
  content: "";
}

.c-hamburger span::before {
  top: -12px;
}

.c-hamburger span::after {
  bottom: -12px;
}


.c-hamburger--htx {
  //background-color: #f9f9f9;
}

.c-hamburger--htx span {
  transition: background 0.3s, 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  // transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  //background-color: #999;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}








































.widget_search {

	.search-form {
		position:relative;
		height: 40px;

		input[type='search'] {
			padding-right: 55px;
			background: #fff;
			height: 40px;
		}

		.search-submit {
			position: absolute;
			right: 0;
			top: 0;
			margin: 0;
			padding: 11px 15px;
			text-indent: -9999px;
			background: transparent;
			height: 40px;
			width: 40px;
			z-index: 1;

		}

		&:after {
			font-family: 'fontawesome';
			content: '\f002';
			position: absolute;
			top: 0;
			right: 0;
			color: #fff;
			background: $primary-color;
			height: 40px;
			width: 40px;
			line-height: 40px;
			padding: 0 13px;
		}
	}
}





    


/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}

.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title, .archive-title span {
	font-size: 36px;
    line-height: 120%;
    font-family: robotobold;
    color: #505050;
}

.post-archive-featured-image {
	display: block;
	margin-bottom: 15px;
}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;

		li {
			padding: 0;
		}

		.media-object {

			.media-object-section {
				&:first-child {
					display: none;
				}

				&:nth-child(2) {
					width: 100%;
					display: block;
				}

				article {
					float: none;
				}
			}

		}
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}
































/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {

	.widgettitle {
		font-size: rem-calc(24);
	}

	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}

		&.menu {

			> li {
				display: block;

				a {
					display: inline-block;
					padding: 0;
					line-height: 110%;
				}

				.sub-menu {
					margin: 0 0 0 30px;

					li {
						a {
							display: inline-block;
							font-size: 90%;
						}
					}
				}
			}

		}
	}
}




























/*********************
FOOTER STYLES
*********************/
footer.footer {
	clear: both;
	margin-top: $gutter;
	background: $dark_bg;
	//border-top: 1px solid $border-gray;
	color: $light_blue_text;
}

.footer-widgets {

	&-inner {
		padding: 30px 0;
		border-bottom: 1px solid #1c3f4c;

		.footer-widgets-col {
			@include grid-column(12);
			@include grid-column-collapse;
			margin-bottom: $gutter;

			@include breakpoint(medium up) {
				margin-bottom: 0;
			}
		}
	}

	h4 {
		color: $light_blue_text;
	}

	a {
		color: $light_green;
		transition: all 200ms;

		&:hover {
			color: #fff;
		}
	}
}

.footer-bottom {

	padding: 15px;
	
	p:last-child {
		margin-bottom: 0;
	}

	&-content {
		padding: $gutter 0;
	}
}


.page-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.85);
	z-index: 900;
	opacity: 0;
	//display: none;
	//height: 0;
	visibility: hidden;
	transition: all 600ms;

	&.active {
		//display: block;
		transition: all 600ms;
		//height: 6000px;
		visibility: visible;
		opacity: 1;
		background: rgba(0,0,0,0.85);
	}

}


/*********************
PLUGIN STYLES
*********************/

// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}








/*********************
GLOBAL PAGE STYLES
*********************/


.archive-title {
    // background-color: #fff;
    // border: 1px solid #eaeaea;
    //padding: $gutter;
    margin-bottom: $gutter;
}


.content-inner-row {
	@include grid-row();

	&-main {

		article {
			// background-color: $white;
			// border: 1px solid $border-gray;
			// padding: $gutter;
			margin-bottom: $gutter;
		}
	}

	.sidebar {

		.widget {
			background: $white;
			padding: $gutter;
			margin-bottom: $gutter;
			border: 1px solid $border-gray;

			form.search-form {
				input.search-field {
					margin-bottom: 0;
				}
			}
		}
	}
}


/*  content / sidebar template */

.content-sidebar {

	.content-inner-row {

		&-main {
			@include grid-column(12);
			//margin-bottom: 60px;
		}

		.sidebar {
			@include grid-column(12);
			//margin-bottom: 60px;
		}

	}

}


/*  content / sidebar template */

.sidebar-content {

	.content-inner-row {

		&-main {
			@include grid-column(12);
			margin-bottom: 60px;
		}

		.sidebar {
			@include grid-column(12);
			margin-bottom: 60px;
		}

	}

}


/*  content full template */

.content-full {

	.content-inner-row {

		&-main {
			@include grid-column(12);
		}

	}
}







.content-grid-sidebar {

	.content-inner-row {

		&-main {
			@include grid-column(12);
			margin-bottom: 60px;
		}

		.sidebar {
			@include grid-column(12);
			margin-bottom: 60px;
		}

	}

	&.grid-2 {

		.panel {
			@include grid-column(12);
		}
		
	}

	&.grid-3 {
		.panel {
			@include grid-column(12);
		}
	}

	&.grid-4 {
		.panel {
			@include grid-column(12);
		}
	}

	&.grid-5 {
		.panel {
			@include grid-column(12);
		}
		
	}
}

.sidebar-content-grid {

	.content-inner-row {

		&-main {
			@include grid-column(12);
			margin-bottom: 60px;
		}

		.sidebar {
			@include grid-column(12);
			margin-bottom: 60px;
		}

	}

	&.grid-2 {

		.panel {
			@include grid-column(12);
		}
		
	}

	&.grid-3 {
		.panel {
			@include grid-column(12);
		}
	}

	&.grid-4 {
		.panel {
			@include grid-column(12);
		}
	}

	&.grid-5 {
		.panel {
			@include grid-column(12);
		}
		
	}

}

.content-grid {

	.content-inner-row {

		&-main {
			@include grid-column(12);
			margin-bottom: 60px;
		}


	}

	&.grid-2 {

		.panel {
			@include grid-column(12);
		}
		
	}

	&.grid-3 {
		.panel {
			@include grid-column(12);
		}
	}

	&.grid-4 {
		.panel {
			@include grid-column(12);
		}
	}

	&.grid-5 {
		.panel {
			@include grid-column(12);
		}
		
	}

}















body .off-canvas {
	z-index: 950;
}


// .off-canvas {

// 	&.position-right {
// 		position: fixed;
// 		top: 0;
// 		bottom: 0;
// 		overflow-y: auto;
// 		z-index: 100;
// 		right: -260px;
// 		box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
// 		background-color: #333;

// 		transition: right 0.3s;

// 		&.open {
// 			right: 0;
// 			transition: right 0.3s;
// 		}
// 	}

// 	.menu > li > a {
// 		text-decoration: none;

// 		&:hover {
// 			text-decoration: none;
// 		}
// 	}

// }

.off-canvas {

	position: fixed;
	top: 0;
	right: -360px;
	width: 100vw;
	max-width: 360px;
	z-index: 100;
	//background: #fff;
	background: $dark_bg;
	bottom: 0;
	overflow: auto;
	transition: all .5s ease;
	border-top: 1px solid darken( $dark_bg, 5% );

	@include breakpoint(medium up) {
		width: 100vw;
		right: -360px;
	}

	&.menu-open {
		//right: 0;
		box-shadow: 0 4px 6px rgba(0,0,0,0.3);
		transform: translateX(-360px);
	}

	.offcanvas-header-area {
		border-bottom: 1px solid #f1f1f1;
		border-bottom: 1px solid darken( $dark_bg, 5% );
		padding: 15px 60px 15px 15px;
		.c-hamburger {
			position: absolute;
			top: 15px;
			right: 15px;
		}

		.site-title {
			font-size: 1.125rem;
		}
	}

	ul#menu-mobile-nav {
		li {

			transition: all 300ms;

			&[aria-expanded="true"] {
				background: darken( $dark_bg, 5% );
			}

		}
	}


}



.off-canvas-content {
	position: relative;
	right: 0;
	transition: right 0.3s;

	&.pushed {
		right: 250px;
		transition: right 0.3s;
	}
}




/* General Styles */

h1.page-title,
h1.archive-title  {
	
}

body.single, {

	article.post {
		margin-bottom: $gutter*2;
	}

	.single-post-featured-image {
		margin-bottom: 15px;
	}
}

.comments-area {
	
}

#comments {
	margin-top: 60px;

	article {
		margin-bottom: 0;
	}

	.commentlist li {
		margin-bottom: 0;
	}
}











/* blog & archive styles */

body.blog,
body.archive {
	// article {
	// 	margin-bottom: $gutter*2;
	// 	box-shadow: 0 0 20px rgba(0,0,0,0.15);
	// 	background: #fff;

	// 	.article-header h2, .article-footer, .entry-content {
	// 		padding-left: 10px;
	// 		padding-right: 10px;
	// 	}
	// }

	// h1.archive-title {
	// 	margin-left: 0.625rem;
 //    	margin-right: 0.625rem;
	// }

	article {

		margin-bottom: $gutter*2;
		box-shadow: 0 0 10px rgba(0,0,0,0.07);
		background: #fff;
	    margin-bottom: $gutter;
	    transition: all 200ms;

	    &:hover {
	    	transform: translateY(-5px);
    		box-shadow: 0 10px 30px rgba(133,133,133,0.5);
	    }

	    .article-header {
	    	background-color: transparent;
	    	border: none;

	    	h2 {
		    	padding: 10px 30px 0;
			}
	    }

	    .entry-content {
	    	background-color: transparent;
	    	border: none;
	    	padding: 10px 30px 15px;
	    }

	    .article-footer {
	    	background-color: transparent;
	    	border: none;
	    	padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 30px;
	    }

	}

	.archive-grid {

		.panel {
			padding: 0;

			.grid-panel-featured-image {
				display: block;
				//margin-bottom: $gutter/2;
			}

			h2 {
				margin-bottom: $gutter/3;
			}

			.entry-content {
		    	padding: 0;
		    }
		}
	}


}

.archive-intro {
	margin: 0 0 $gutter;
}


.byline {

	&.date {
		margin-bottom: $gutter/2;
	}

	&.author {
		margin-bottom: $gutter/2;
		padding: 0 30px;
	}

	&.categories {
		margin-bottom: 0;
	}

	&.tags {
		margin-bottom: 0;
	}

}

body.blog .content-inner-row, body.archive .content-inner-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


body.search {
	.row.archive-grid {
		margin-left: 0;
		margin-right: 0;
	}
}


.ninja-forms-form-wrap {
	input[type="submit"] {
		background-color: #40b676;
		color: #fff;
		display: inline-block;
	    text-align: center;
	    line-height: 1;
	    cursor: pointer;
	    -webkit-appearance: none;
	    transition: background-color 0.25s ease-out, color 0.25s ease-out;
	    vertical-align: middle;
	    border: 1px solid transparent;
	    border-radius: 0;
	    padding: 0.85em 1em;
	    margin: 0 0 1rem 0;
	    font-size: 0.9rem;

	    &:hover, &:focus {
	    	background-color: #319f1d;
	    }
	}

	.field-wrap.label-left.spam-wrap .ninja-forms-field {
		margin-left: 0;
	}
}



.categories {
	a {
		display: inline-block;
		color: #fff;
		background: #40b676;
		padding: 3px 6px;
		font-size: 80%;
		margin-right: 6px;
		transition: all 200ms;

		&:hover {
			background: darken(#40b676, 5%);
		}
	}
}

.tags {
	a {
		display: inline-block;
		color: #fff;
		background: #999;
		padding: 1px 6px;
		font-size: 70%;
		margin-right: 6px;
		transition: all 200ms;

		&:hover {
			background: darken(#999999, 5%);
		}
	}
}



.nf-form-content {

	.nf-field-container:not(.submit-container,.hr-container) {
		background: #f1f1f1;
		padding: 15px;
		border-radius: 6px;

		&.hr-container {
			margin-bottom: 15px !important;
		}

		.nf-field-label {
			margin: -15px -15px 15px;
			width: calc(100% + 30px);
			display: block;
			padding: 15px;
		    background: #d8d8d8;
		    font-size: 110%;
		    border-radius: 6px 6px 0 0;
		}

		.ninja-forms-req-symbol {
			color: #e80000 !important;
		}

		input[type=text],
		input[type=password],
		input[type=email] {
			border-radius: 4px;
		}

		

		textarea {
			border-radius: 4px;
		}
	}

	input[value=Submit] {
		padding: 15px 30px;
		border: none;
		background: #719108;
		color: #fff;
		transition: all 200ms;
	}

	input[value=Submit]:hover {
		background: #4f6506;
	}

	

		


}

.nf-form-fields-required {
		border: 1px solid #dedede;
	    padding: 15px;
	    margin: 0 0 15px;
	    border-radius: 6px;
	    background: rgba(232,0,0,0.04);
	}


